@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --chosed-color: red;
}

*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.color-picker-system {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 21, 21);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.color-picker-system .preview {
    margin-top: 10px;
    width: 255px;
    height: 150px;
    border-radius: 3px;
}
.color-picker-system .inputs-outputs {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.hex-rgba{
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 150px - 110px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hex-rgba input{
    outline: none;
    color: white;
    font-family: 'Roboto';
    text-indent: 5px;
    background-color: rgb(46, 44, 44);
    width: 50px;
    height: 30px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
}
#hex{
    width: 150px;
    margin-left: 0px;
}

.color-picker-system #color {
    width: 50px;
    height: 50px;
    margin-top: 11px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: var(--chosed-color);
}

.color-picker-system #color-picker {
    position: absolute;
    visibility: hidden;
}
.color-picker-system .parameters{
    width: 100% - 70px;
    display: flex;
    flex-direction: column;
}
a.colour-select{
    margin-bottom: 7px;
}
.color-picker-system a{
    color: white;
    font-family: 'Roboto';
}

.color-picker-system .range {
    width: 200px;
    height: 30px;
}

.color-picker-system .pointer {
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 35px;
}

.color-picker-system .selector {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
    top: -5px;
}

.color-picker-system .bg {
    position: absolute;
    width: 200px;
    height: 5px;
    background: linear-gradient(to left, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
    border-radius: 5px;
}
.color-picker-system #alpha[type=range]{
    width: 200px;
}
.color-picker-system #alpha input[type=range]::-webkit-slider-runnable-track{
    height: 5px;
    background-color: rgb(219, 215, 215);
}